.main {
    width: 80svw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EAEAEA;
    transition: all 0.5s ease;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #252A34;
    margin: 100px;
    padding: 25px;
    min-width: 550px;
    border: solid #047684 0.25svw;
    border-radius: 1.5svw;
}

.form h1 {
    margin: 15px;
}

.switchModes {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    transition: all .5s;
}

.switchModes:hover {
    text-decoration: underline;
    cursor: pointer;
}

.enter {
    opacity: 0;
}

.exit {
    opacity: 1;
}

.enterActive {
    opacity: 1;
}

.exitActive {
    opacity: 0;
}

.enterActive,
.exitActive {
    transition: opacity 500ms;
}