.container {
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

.enter {
    opacity: 0;
}

.enterActive {
    transition: opacity 0.5s ease;
}

.enterDone {
    opacity: 1;
}

.exit {
    opacity: 1;
}

.exitActive {
    transition: opacity 0.5s ease;
}

.exitDone {
    opacity: 0;
}