.input {
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    border: solid #047684 0.25svw;
    border-radius: 15px;
    background-color: #EAEAEA;
    outline: none;
    transition: all .5s ease;
}

.invisible {
    opacity: 0;
}

.enterDone {
    opacity: 1;
}