.main {
    display: flex;
    justify-content: space-evenly;
    padding: 1svw;
    color: var(--color-text);
    border-radius: 0 0 2svw 2svw;
    width: 100%;
}

.container {
    background-color: var(--color-background);
    border: 0.25svw solid var(--color-border);
    border-radius: 1.5svw;
    margin: 0.8svw;
    padding: 1svw;
}

.crosswordsList {
    flex-grow: 3;
}

.crosswordItem {
    padding: 1.2svw;
    margin: 1svw;
    background: var(--color-background);
    border: solid #252A34 0.25svw;
    border-radius: 1.5svw;
    transition: .3s ease;
}

.selected {
    box-sizing: border-box;
    border-color: var(--color-border);
}

.crosswordItem:hover {
    background-color: var(--color-border);
    border-color: var(--color-border);
}

.crosswordItem .title {
    font-size: 18px;
    font-weight: 600;
}

.sideBar {
    flex-grow: 1;
}

.crosswordInfo {
    min-height: 100px;
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--color-button);
    color: var(--color-text);
    font-size: 18px;
    padding: 7px 25px;
    margin-right: 10px;
    border-radius: 1.2svw;
    border: 0px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: var(--color-button-hover);
}

.button.create {
    background-color: var(--color-button-green);
}

.button.create:hover {
    background-color: var(--color-button-green-hover);
}

.button.delete {
    background-color: var(--color-button-red);
}

.button.delete:hover {
    background-color: var(--color-button-red-hover);
}

.line {
    margin: 15px 0px;
    border-bottom: 2px solid var(--color-border);
}

.description {
    margin: 15px 0px;
}