.main {
    width: 80vw;
    display: flex;
    align-items: flex-start;
    color: #EAEAEA;
    background-color: #252A3433;
    padding: 1vw;
}
.crosswordsList {
    width: 100vw;
    height: 100vh;
}

.crosswordItem {
    padding: 1.2vw;
    margin: 1vw;
    background: #252A34;
    border: solid #252A34 0.3vw;
    border-radius: 1.5vw;
    transition: .3s ease;
}

.selected {
    box-sizing: border-box;
    border-color: #048684;
}

.crosswordItem:hover {
    background-color: #048684;
    border-color: #048684;
}

.crosswordItem .title {
    font-size: 18px;
    font-weight: 600;
}

.crosswordInfo {
    width: 50vw;
    min-height: 100px;
    overflow: hidden;
    background-color: #252A34;
    border: 0.3vw solid #048684;
    border-radius: 1.5vw;
    margin: 1vw;
    padding: 1.2vw;
}