.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    min-width: 700px;
    padding: 1svw 8%;
    background: #252A34;
    border: 0.25svw solid #047684;
    border-top: none;
    border-radius: 0 0 5svw 5svw;
}

.link, .button, .logo {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #EAEAEA;
}

.link {
    margin: 0 15px;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: #047684;
}

.button {
    padding: 7px 25px;
    background-color: #047684;
    border: none;
    border-radius: 1.5vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 2vw;
}

.button:hover {
    background-color: #047684AA;
}

.logo {
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
}