.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 700px;
    padding: 1svw 8%;
    background: var(--color-background);
    border-bottom: 0.25svw solid var(--color-border);
}

.link, .linkButton, .logo {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text);
}

.link {
    margin: 0 15px;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: var(--color-border);
}

.linkButton {
    padding: 7px 25px;
    background-color: var(--color-button);
    border: none;
    border-radius: 1.5vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 2vw;
}

.linkButton:hover {
    background-color: var(--color-button-hover);
}

.logo {
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
}