.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    min-width: 700px;
    padding: 1vw 10%;
    background: #252A34;
    border-radius: 1.5vw;
    margin-top: -10px;
}

a, button, .logo {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #EAEAEA;
}

a {
    margin: 0 15px;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #048684;
}

button {
    padding: 7px 25px;
    background-color: #048684;
    border: none;
    border-radius: 1.5vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 2vw;
}

button:hover {
    background-color: #048684AA;
}

.logo {
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
}